<% categories = Category.published_in(publication).published.viewable_by(current_user).counts %>
<h4>Sections:</h4>
<ul>
	<% categories.each do |category| %>
		<li>
			<%=  %>
			<%= link_to("#{image_tag("/images/icons/folder_go.png")} #{category.name}  (#{category.counts})", \
			 	articles_url(:category => category.name)) -%>
		</li>
	<% end %>
</ul>	