<div class="_sidebarForm" style="margin-top: 4px;">	
	<% form_remote_tag :url => {:controller => :assets, :action => :live_search} do %>
	  <p>
		Search: <%= text_field_tag :search, "", :size => 23 %>
	  	<img src="/images/spinners/arrows.gif" id="imageSpinner" alt="Spinner" class="_spinner" style="display:none"/>
	  </p>
	<% end %>
</div>

<div id="_searchImageResults" class="clearfix" style="display: none">
</div>

<% content_for :javascripts do %>
	<%= observe_field "search" , :frequency => 1, :update => "_searchImageResults",
					 :with => 'tags',
					 :url => {:controller=>"assets", :action=>"live_search"},
					 :loading => "Element.show('imageSpinner');Element.hide('_searchImageResults')",
          		     :complete => "Element.hide('imageSpinner');if ($('_searchImageResults').innerHTML.length > 1) Element.show('_searchImageResults');" %>
<% end %>
