<% if @asset && @asset.mappable? %>
	<div id="sidebarMap" class="_smallMap">
	</div>
  <p><%= geocode_message(@asset) %></p>
	<% if current_user.is_admin? %>
		 <%= submit_to_remote 'update_geo_button', 'Update geo data',
		 	:method => :put,
		 	:html => {:id => "_updateGeo"},
		  :update => 'mapstatus',
			:with => "'latitude=' + latitude + '&longitude=' + longitude + '&zoom=' + zoom + '&map_type=' + map_type + '&has_moved=' + has_moved",
			:failure => "alert('HTTP Error ' + request.status + '!')"
		 %>	
	<% end %>

    <% content_for :javascripts do %>
		<%= GMap.header :host => request.host, :with_vml => false -%>
		<%= render :partial => "shared/map_manager.js.erb", :locals => {:map_id => 'sidebarMap'} %>
	<% end %>
<% end %>	


