<% page_size = 6 %>
<% galleries = Gallery.viewable_by(current_user).popular(page_size).find(:all, 
										:page => {:size => page_size, :current => params[:page]}) %>
<h2>Popular Galleries:
	<% format_pagination_links(galleries, :window_size => 3, :always_show_anchors => true, 
																	:link_to_current_page => true) do |n| %>
		<%= link_to_remote n.to_s, :update => "_galleryPopular", :url => popular_galleries_path, :with => "'page=#{n.to_s}'" -%>
	<% end %>
</h2>

<% if !(ajax rescue nil) %>
	<div id="_galleryPopular" class="_thumbsmallList clearfix">
<%end %>

<div class="_thumbsmallList">
  <% galleries.each do |g|%>
  	<%= render :partial => "images/thumbnail", :locals => {:image => g.popular_image(current_user), 
  		:caption => g.title, :gallery => g, :prefix => "popular" }  %>
  <% end %>
</div>  

<% if !(ajax rescue nil) %>
	</div>
<% end %>