<% page_size = 6 %>
<% galleries = Gallery.viewable_by(current_user).recent(page_size).find(:all, 
										:page => {:size => page_size, :current => params[:page]}) %>
<% if !(ajax rescue nil) %>
	<div id="_galleryRecent" class="_thumbsmallList clearfix">
<% end %>

<h4>Recent Galleries:
	<% format_pagination_links(galleries, :window_size => 3, :always_show_anchors => true, :link_to_current_page => true) do |n| %>
		<%= link_to_remote n.to_s, :update => "_galleryRecent", :url => recent_galleries_path, :with => "'page=#{n.to_s}'" -%>
	<% end %>
</h4>
<% galleries.each do |g|%>
	<%= render :partial => "images/thumbnail", :locals => {:image => g.popular_image(current_user), 
		:caption => g.title, :gallery => g, :prefix => "recent"} %>
<% end %>

<% if !(ajax rescue nil) %>
	</div>
<% end %>
