<h4>Subscribe to galleries:</h4>
<ul>
	<li>
		<%= link_to "#{image_tag('/images/social/Feeds_32x32.png')} in RSS 2.0 format", formatted_galleries_url(:rss) %>
	</li>
	<li>
		<%= link_to "#{image_tag('/images/social/Feeds_32x32.png')} in Atom format", formatted_galleries_url(:atom) %>
	</li>
</ul>