<% if @image %>
  <div class="_metadata">
	<% @image.get_shot_data.each do |f| %>
		<div class="clearfix">
			<div class="columnFirst">
				<%= f[:heading] -%>:
			</div>
			<div class="columnSecond">
				<%= image_tag_link(f) -%>
			</div>
		</div>
	<% end %>
	</div>
<% end %>
