<% if @image %>
	<h4>This image is in these galleries:</h4>
	<div class='clearfix'>
		<% @galleries.each do |g| %>
			<%= render :partial => "images/thumbnail", :locals => {:image => g.popular_image(current_user), 
				:caption => g.title, :gallery => g, :prefix => "gallery" } %>
		<% end %>
	</div>
<% end %>