<h4>Actions:</h4>
<ul>
	<li>
		<%= link_to "#{image_tag("/images/icons/photo.png")} Show image in Google Maps", 
					"http://maps.google.com/?q=" + h(formatted_image_url(@image, :kml)) %>
	</li>
	<li>
		<%= link_to "#{image_tag("/images/icons/photo.png")} Download kml file for this image", 
					h(formatted_image_url(@image, :kml)) %>
	</li>
</ul>	

	
