<% if @image %>
  <div class="_metadata">
	<% @image.get_shot_data.each do |f| %>
		<div class="clearfix">
			<div class="columnFirst">
				<%= f[:heading] -%>:
			</div>
			<div class="columnSecond">
				<%= image_tag_link(f) -%>
			</div>
		</div>
	<% end %>
	<% if current_user.is_admin? %>
	  <div class="clearfix">
  	  <div class="columnFirst">
  			<%= Views -%>:
  		</div>
  		<div class="columnSecond">
  			<%= @image.view_count -%>
  		</div>
  	</div>
  <% end %>
	</div>
<% end %>
