<h2>Popular Image Tags:</h2>
<div id="_tag_cloud"
  <% tag_cloud Image.tag_cloud(current_user), %w(cloud1 cloud2 cloud3 cloud4 cloud5) do |name, css_class| -%>
  		<%= link_to h(name), images_path(:tags => h(name)), :class => css_class -%>
  <% end %>
</div>  

