<h4>Database could not be updated</h4>
<p>
	Please correct the <%= pluralize(@error_object.errors.count, "error") %>
	below and submit again.
</p>
<ul>
	<% @error_object.errors.each_full do |msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>

	