<h4>Errors prevented an update to the database</h4>
<p>
	Please correct the <%= @error_object.errors.count == 1 ? '' :  "#{@error_object.errors.count} " -%>
	error<%= @error_object.errors.count == 1 ? '' : 's' %> 
	below and submit again.
</p>
<ul>
	<% @error_object.errors.each_full do |msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>

	