<%
	sidebar :asset_search
	sidebar :articles_subscribe
	sidebar :article_categories
	sidebar :image_tag_cloud
	sidebar :image_random
%>
<div class="_article">
	<h2>Draft Comments</h2>
	<table class="index_table">
		<head>
		     <tr>
				<th>
					Asset
				</th>
				<th>
					Comment
				</th>
				<th>
					Spam?
				</th>
				<th>
					Spaminess
				</th>
				<th>
					Actions
				</th>
		</thead>
		<tbody>
			<% @comments.each do |c| %>
		    <tr>
				<td>
					<%= c.asset.nil? ? "Nil Asset" : link_to(h(c.asset.name), polymorphic_url(c.asset.content)) %>
				</td>	
				<td>
					<%= h c.content %>
				</td>
				<td>
					<% if c.spam %>
						<%= image_tag "/images/icons/warning_sign_48x48.png" %>
					<% end %>
				</td>
				<td>
					<%= c.spaminess.to_s %>
				</td>
				<td>
					Spam | No Spam | Edit | Delete
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>	