<%
	sidebar :asset_search
	sidebar :article_categories
	sidebar :image_tag_cloud
	sidebar :image_random
%>
<div class="_article">
	<h2>About <%= Publication.current.title %></h2>
	<%= Publication.current.description %>
</div>