<%
	sidebar :asset_search
	sidebar :article_categories
	sidebar :image_tag_cloud
	sidebar :image_random
%>

<div class="_article">
	<h2>Privacy Policy</h2>
	<p>
		We are committed to protecting the privacy of all persons including our customers and will carefully 
		protect any confidential information they provide to us. We will not collect sensitive or private 
		information from you without your express consent.
	</p>
	<p>
		We respect your rights to make informed choices about the collection and the use of your personal information. 
		This privacy policy tells you about our online collection and use of information that identifies you personally 
		so you can make an informed choice about using this site and to comply with the relevant laws.
	</p>
	<p>
		By accessing and using this website, you understand and agree that:
	</p>
	<ul>
		<li>
			We may retain the information collected and may store and access that information indefinitely
		</li>
		<li>
			The information may be used in jurisdictions where the privacy laws may be different and less protective than those of your home jurisdiction
		</li>
		<li>
			We will not pass the information on to a third party unless we are required by law to do so.
		</li>
	</ul>
	<h5>Information collected from this website</h5>
	<p>
		When you visit this website, information such as the site that referred you to us, your internet service 
		provider and email address, navigational and personal information may be collected automatically as part of 
		the sites operation at our ISP. We may use this information to generate user profiles.
	</p>
	<p>
		Occasionally, we may ask you to provide information on online forms. For example, we may ask for your full 
		name, telephone number, email address and postal address. You may decline to provide any online information.  
		We will not disclose any of this confidential information without permission from the person to whom it 
		relates, unless we are required by law to do so.
	</p>
	<h5>Cookies</h5> 
	<p>
		You may nominate to reject or delete a cookie. Your browser should contain information on how to do this.
	</p>
	<h5>Log Files</h5> 
	<p>
		We use IP addresses to gather statistics and to assist in the administration of the website. This enables us 
		to analyse trends, track your movements and gather broad demographic information. IP addresses are not linked 
		to any personally identifiable information.
	</p>
	<h5>Use of information collected</h5>
	<ul>
		<li>
			We will not otherwise otherwise reveal, pass on, disclose to nor provide the information to any third party other 
			than when we are required to do so by law, or if we believe that it is necessary to comply with the law, respond 
			to a claim or to protect our rights, property or the safety of our employees, customers or the public without a 
			person's express consent.
		</li>
		<li>
			A person has the right to access information we hold about them. If a person contacts us we may ask for some 
			form of identification before any personal information is discussed. 
		</li>
		<li>
			Other than as part of our normal business operations we will not allow our systems to be used by you or anyone 
			else to send unsolicited emails.
		</li>
	</ul>
	<p>
		We ask that persons advise us if they detect any error in the information we hold about them and of any changes we need to make to keep our records up to date.
	</p>
	<h5>Linked sites</h5>
	<p>
		We cannot be responsible for the policy or practices of linked sites so we recommend that you consider their privacy polices separately.
	</p>
</div>