<h3>
	<%= "by #{article.created_by.full_name} on #{article.created_at.strftime("%A, %B %d %Y at %H:%M %Z")}" -%>
	<% if !article.comments_none? %>
		<% if (@comment_count ||= article.comments.published.count) > 0 %>
			<%= "(#{pluralize(@comment_count, "comment")})" %>
		<% end %>
	<% end %>
	<% links = [] %>
	<% if article.can_update?(current_user) %>
		<% links << link_to("Edit", edit_url(article)) %>
	<% end %>
	<% if article.can_delete?(current_user) %>
		<% links << link_to("Delete", show_url(article), :confirm => "Are you sure?", :method => :delete) %>
	<% end %>
	<% if !article.include_in_index && current_user.is_admin? %>
		<% links << "<span class='red'>Not in index</span>" %>
	<% end %>
	<%= links.join(" | ")%>
</h3>