/*
	Content Layout is defined here.  Typography (color, size, etc) should 
	be defined in <theme>_base.css
*/

#_body {
  margin-top:		10px;
}

/*---------------------------------------
	Basic fixed width 2-column document structure
*/
#_wrapper {
  width:			900px;
  margin: 			0 auto;
  text-align:		left;
  }

#_header {
  margin:			0 auto 15px;
  border:			1px solid #555;
  }

#_flash {
  position:			relative;
  top:				-5px;
  margin-bottom:	5px;
}

#_content {
  width:			580px;
  float:			left;
  }

#_sidebar {
  width:			300px;
  float:			right;
  }

#_footnote {  
  margin-top: 		40px;
  clear:			both;
  margin-bottom:	5px;
}

#_footer {
  clear: 			both;
  font-size: 		75%;
  margin-bottom:	10px;
  padding-top:		5px;
  text-align: 		center;
  border-top: 		2px solid #555;
  }

#_footer img {
  position: 		relative;
  top: 				4px;
  padding: 			0;
  height: 			16px;
  width: 			16px;
}


/*--------------------------------------- 
	Top of page menu bar 
---------------------------------------*/
#_navigation {
  margin:			0 5px 5px;
  padding:			0 20px 20px;
  border-width:		0 1px 1px;
  text-align:		center;
}

#_navigation li {
  display:			inline;
  font-size:		74%;
  text-transform:	uppercase;
  letter-spacing:	.2em;
  }

#_navigation li.with_separator:after {
	content:		" | ";
}

/*---------------------------------------
	Element spacing. In general, define
	how speciic elements are separated 
	from each other here
---------------------------------------*/
p + p, p + form,
._articleImage + p, p + ._articleImage, 
p + ._thumbnailList {
  margin-top:		0.7em;
  }

/* some sidebars: recent gallery, popular gallery, etc */
h2 + ._thumbsmallList {
  margin-top:		0.2em;
  margin-bottom:	0.2em;
  }

/* Spacing between li elements */
._article li + li {
  margin-top: 		0.3em;
}

._article + ._article {
  border-top: 		2px solid #333;
  padding-top:		0.9em;
}

/*---------------------------------------
	Article format: each article 
	(and other assets generally)
   	are wrapped in this div
---------------------------------------*/
._article {
  padding-right: 	0.5em;
  margin-bottom: 	0.5em;
  clear: 			both;
  }

/* Article Heading */
._article > h2 {
  margin-bottom: 	0.5em;
  letter-spacing:	125%;
  }  

/* For byline on article summary */
._article > h3 {
  margin-bottom: 	0.9em;
  margin-top: 		-0.6em;
  }

/* For page numbers */
._article > h4 {
  font-size: 		90%;
  margin-bottom: 	0.7em;
}

._article > h5 {
  font-size:		100%;
  border-left:		1px dotted #9ad;
  padding-left:		5px;
  padding-bottom:	3px;
  margin-bottom: 	1em;
  margin-top: 		1em;	
}

._article ul {
  list-style:		disc;
  margin-left:		20px;
  }

/* Article Image - full width image in an article or article summary */
._articleImage {
  border:			2px solid #444;
  padding:			15px 14px 0px 14px;
  display:			block;
  }

._articleImage img {
  max-width: 		540px;  /* Content div width - (2*border size) - (2*img padding size) */
  max-height: 		540px;
  }

._articleImage p.caption {
  /* Placeholder for any subsequent special styling for caption */	
}

/* Article footer - important to use because it does a clear:both */
._articleFooter {
  font-size:		78%;
  text-transform:	uppercase;
  letter-spacing:	.2em;
  padding-top: 		2em;
  clear: 			both;
  }

._articleFooter a:link, ._articleFooter a:visited, ._articleFooter a:hover {
  text-decoration: 	none;
  }

._articleFooter a:hover {
  text-decoration: 	underline;
  }

/*---------------------------------------
	Comments displayed after an article
	or other asset (image, gallery, etc)  
---------------------------------------*/

._comment {
  margin-top: 		0.5em;
  margin-bottom: 	1em;
}

/* For byline on article summary */
._comment h3 {
	margin-bottom: 	0.7em;
	margin-top: 	0.2em;
}

._comment label {
	width: 			100px;
	text-align:		left;
}

._formField + ._small {
	margin-top:		-5px;
	margin-left:	108px;
	font-size:		70%;
}

/*---------------------------------------
	Content in the sidebar.  
	Can be multiples of these.
---------------------------------------*/

._sidebarContent {    /* One of possibly many sidebars */
  border: 			1px solid #333;
  padding: 			3px 2px 2px 4px;
  margin-bottom: 	0.5em
  }

/* ul usually for list of available actions */
._sidebarContent ul {
  margin-bottom:	0.5em;
  }

._sidebarContent ul a,
._sidebarContent ul a:visited {
  vertical-align:	baseline;
  }

._sidebarContent ul a:hover {
  background:		#777;
  color:			white;
  text-decoration:	none;
  }

._sidebarContent ul a.selected,
._sidebarContent ul a.selected:visited,
._sidebarContent ul a:active {
  color:			gold;
  background-color:	#333;

}

/* 
	Instead of bullets we use inline images- its easier to
	provide different 'bullets' for each li in this case.  Hence
	to make alignment of the image and text we tune the image
	position and size as well
*/
._sidebarContent ul li {
  padding-left: 	2px;
  font-size:		12px;
  vertical-align:	baseline;
  margin-bottom:	0.2em;
}

._sidebarContent ul li img {
  position:			relative;
  top:				3px;
  height: 			14px;
  width: 			14px;
}

/* Sidebar headings */
._sidebarContent h2 {
  font-size: 		0.75em;
  margin-top:		2px;
  margin-bottom:	2px;
  padding-left: 	2px;
  padding-right: 	2px;
}

._sidebar p, ._sidebarError p {
  margin-left: 		0.5em;
}

/*--------------------------------------- 
	Random image sidebar
---------------------------------------*/
#_random_image {
	padding-top: 	2px;
}

#_random_image > a > img {
  width: 			290px;   /* sidebar div width - (2* border size) - (2 * padding) */
  text-align:		center;
}

#_random_image p.caption {  /* used for sidebar image caption */
  margin-bottom:	2px;
  font-size: 		70%;
}

/*--------------------------------------- 
	This is a special sidebar where we render
	database errors
---------------------------------------*/	
._sidebarError {
  border: 			2px solid red;
  padding-bottom: 	0.5em;
  margin-bottom: 	0.5em
  }

._sidebarError h2 {
  font-size: 		80%;
  background-color: red;
  text-align: 		center;
  padding-bottom: 	0.2em;
  color: 			white;
}

/*--------------------------------------- 
	Tag Cloud formatting
---------------------------------------*/
#_tag_cloud {
	margin-top:		0.1em;
	margin-bottom:	0.3em;
}
.cloud1 {
	font-size: 		90%;
}
.cloud2 {
	font-size: 		110%;
	}
.cloud3 {
	font-size: 		120%;
	}
.cloud4 {
	font-size: 		150%;
	}
.cloud5 {
	font-size: 		180%;
	}
.cloud6 {
	font-size: 		200%;
	}

/*---------------------------------------
	Search sidebar
---------------------------------------*/

/* "Tag Search: "  */
._sidebarForm {
  margin-top:		5px;
  margin-bottom:	2px;
}

#_search_prompt {
  font-size: 		0.75em;
  padding-right:	4px;
  }

#_search_input {
	font-size:		70%;
}

#_search_help {
  font-size: 		70%;
  }

/* help message under the search box */
._sidebarForm p + p {
  margin-left:		74px;
  font-size:		70%;
  margin-top:		-1px;
}

/* Search input box */
._sidebarForm input {
  border: 			solid 1px #CDBE70;
  background:		black;
  font-size: 		100%;
  margin:			0;
  }

/* Category heading in search results */
#_searchImageResults > h2 {
  margin-top: 		8px;
  margin-bottom:	0px;
  font-style:		italic;
  }

/* List of articles returned */
#_searchImageResults ol {
  list-style:		disc;
  margin-left:		20px;
  }

/* One article search result */
#_searchImageResults a {
  font-size:		75%;
  }

/*---------------------------------------
	For image thumbnails in a gallery view
	NOTE: Very dependent on the knowledge
	that thumbnails are generated at 
	160px dimensions
---------------------------------------*/
._thumbnail {
  margin-right: 	3px;			/* spacing between thumbnails	*/
  margin-bottom: 	3px;
  width: 			169px;
  height: 			182px; 			/* so we can position the caption under the image */
  padding: 			4px;
  line-height: 		170px;
  }

._thumbnail img {
  max-width: 		160px;
  max-height: 		160px;
  }

._thumbnail p.caption {	
  font-size: 		9px;
  margin:			0;
  }

/* The count of the times the image has been viewed */
._thumbnail ._count {
  position: 		relative;
  font-size: 		9px;
  top: 				3px;
  right: 			0px;
  width: 			20;
  text-align: 		right;
  line-height: 		0px;
  }

/*---------------------------------------
	Image search results
---------------------------------------*/
._thumbsmall {
  width: 			86px;
  height: 			86px;
  line-height: 		80px;		/* Same as image max size */
  margin: 			2px;
  padding: 			2px;
  }

._thumbsmall img {
  max-width:		80px;
  max-height:  		80px;
  }

/* When thumbnail is in an article, give it room */
._article > ._thumbsmall {
  margin-right: 	6px;
  margin-left: 		0px;
  }

/*---------------------------------------
	Google Maps
---------------------------------------*/
._smallMap, ._largeMap, ._articleMap {
  white-space: 		normal;
  overflow: 		hidden;
  }

._smallMap {
  margin-top:		2px;
  width: 			290px;
  height: 			250px;
  }

._smallMap + p {
  font-size:		70%;
  margin:			0px;
  margin-bottom:	2px;
  padding:			0px;
  text-align:		center;
}

input#_updateGeo {
  margin:			0 auto;
  margin-bottom:	2px;
  margin-top:		2px;
}

._largeMap {
  margin-top: 		0.5em;
  margin-bottom:	0.5em;
  width: 			900px;
  height: 			500px;
  }
	
._articleMap {
  width: 			580px;
  height: 			500px;
  }	
	
/* Map infoWindows */
._infoWindow {
  margin-top: 		-20px;
  width: 			250px;
  height: 			80px;
  margin: 			0;
  padding: 			0;
  }

/* Text colour for infoWindows */
._infoWindow h4, ._infoWindow a, ._infoWindow p {
  color: 			black;
  }

._infoWindow h4 {
  font-size: 		80%;
  margin-bottom: 	2px;
  }

._infoWindow p {
  font-size: 		70%;
  margin-left: 		5px;
  }

._infoWindow > ._thumbsmall {
  margin-right: 	4px;
  margin-bottom:	4px;
  }

/*---------------------------------------
	exif sidebar for images
---------------------------------------*/
._metadata {
  margin-bottom:	0.3em;
  margin-top:		0.2em;
}

.columnFirst, .columnSecond {
  float:			left;
  font-size:		75%;
  line-height:		15px;
}

.columnFirst {
  width: 			92px;
  text-align: 		right;
  margin-right: 	10px;
  overflow: 		hidden;
  }
	
.columnSecond {
  width: 			185px;
  }
