/* Style base elements */

body {
  background:		#000;
  padding-top:		10px;
  font-family: 		Verdana, sans-serif;
  color:			#ccc;
  }

p {
  line-height:		120%;
  letter-spacing:	115%;
}

p + p {
  margin-top:		0.5em;
}

textarea {
  text-align:		left;
  color:			#ccc;
  }
 
/* Basic anchor styling */
a:link {
  color:#9ad;
  text-decoration:none;
  }
a:visited, a:hover  {
  color:#ad9;
  text-decoration:none;
  }
a:hover {
  text-decoration:underline;
  }

code {
  border: 			1px solid #555;
  background: 		#333;
  margin:			10px 20px;
  }

blockquote {
  float: left;
  border-top:		1px solid #ad9;
  border-bottom: 	1px solid #ad9;
  padding: 			8px 8px 10px 8px;
  margin-right: 	0.6em, 0.7em, 0.2em, 0.6em;
  width: 			200px;
  font-style: 		italic;
  }

h2, h3 {
  font-weight: 		normal;
  color:			#ad9;
  }

h2 {
  font-size: 		1.3em;
  }

h3 {
  font-size: 		1em;
  }

h2 a:visited, h3 a:visited, h2 a:hover, h3 a:hover {
  color:#9ad;
  }

h2 a:hover, h3 a:hover {
  text-decoration: underline;
  }

/* Content Layout
----------------------------------------------- */
#_wrapper {
  width:			900px;
  margin: 			0 auto;
  text-align:		left;
  }

#_header {
  margin:			0 auto 15px;
  border:			1px solid #555;
  }

#_content {
  width:			580px;
  float:			left;
  }

#_sidebar {
  width:			300px;
  float:			right;
  }

/* Page footer */
#_footer {
  clear: 			both;
  color:			#777;
  font-size: 		75%;
  margin-top: 		40px;
  padding-top:		5px;
  text-align: 		center;
  border-top: 		2px solid #555;
  }

#_footer img {
  position: 		relative;
  top: 				4px;
  padding: 			0;
  height: 			16px;
  width: 			16px;
}


/* Header - Page Banner with Publication title and
   navigation bar
----------------------------------------------- */  
div#_header h1 {
  margin:			5px 5px 0;
  padding:			20px 20px .25em;
  border:			1px solid #555;
  border-width:		1px 1px 0;
  font-size:		150%;
  line-height:		1.2em;
  color:			#ccc;
  letter-spacing:	.3em;
  text-align: 		center;
  }
  


/* Top of page menu bar 
-----------------------------------------------*/
div#_navigation {
  margin:			0 5px 5px;
  padding:			0 20px 20px;
  border:			1px solid #555;
  border-width:		0 1px 1px;
  font-size:		74%;
  text-transform:	uppercase;
  letter-spacing:	.2em;
  text-align: 		center;
  color:			#9ad;
  }

div#_navigation a:visited, div#_navigation a:hover {
  color:			#9ad;
}


/* Article format: each article (and other assets generally)
   are wrapped in this div
 */  
._article {
  padding-right: 	0.5em;
  margin-bottom: 	0.5em;
  clear: 			both;
  }

._article + ._article {
  border-top: 		1px dotted #333;
  padding-top:		0.9em;
}

/* Article Heading */
._article h2 {
  color:			#9ad;
  margin-bottom: 	0.5em;
  font-size: 		1.3em;
  letter-spacing:	125%;
  }  

._article h2 a:visited, ._article h2 a:hover {
  color:			#9ad;
}

/* For byline on article summary */
._article h3 {
  color: 			#777;
  font-size: 		70%;
  margin-bottom: 	0.8em;
  margin-top: 		-0.7em;
  }

/* For page numbers */
._article h4 {
	color: 			#777;
	font-size: 		90%;
	margin-bottom: 	0.7em;
}

/* Article Image - full width image in an article or article summary */
._articleImage {
  border:			2px solid #444;
  padding:			15px 14px 0px 14px;
  background: 		#222;
  margin-bottom:	0.3em;
  margin-top:		0.3em;
  }

._articleImage img {
  max-width: 		540px;  /* Content div width - (2*border size) - (2*img padding size) */
  max-height: 		540px;
  }
  
._articleImage p {
  margin:			3px;
  font-size: 		78%;
  text-align:		center;
  text-transform:	uppercase;
  color:			#777;
  }

/* Article footer - important to use because it does a clear:both */
._articleFooter {
  font-size:		78%;
  text-transform:	uppercase;
  letter-spacing:	.2em;
  color:			#777;
  padding-top: 		2em;
  clear: 			both;
  }

._articleFooter a:link, ._articleFooter a:visited, ._articleFooter a:hover {
  color:#9ad;
  text-decoration: 	none;
  }

._articleFooter a:hover {
  text-decoration: 	underline;
  }

/* Content in the sidebar.  Can be multiples of these.
-------------------------------------------------------*/

._sidebarContent {    /* One of possibly many sidebars */
  border: 			1px solid #333;
  color: 			#999;
  padding: 			3px 2px 2px 4px;
  margin-bottom: 	0.5em
  }

/* ul usually for list of available actions */
._sidebarContent ul {
  color: 			#555;
  margin-bottom:	0.5em;
  margin-top:		0.3em;
}

._sidebarContent ul a,
._sidebarContent ul a:visited {
  color:			#555;
  vertical-align:	baseline;

}

._sidebarContent ul a:hover
{
  background:		#666;
  color:			white;
  text-decoration:	none;
}

._sidebarContent ul a.selected,
._sidebarContent ul a.selected:visited,
._sidebarContent ul a:active {
  color:			gold;
  background-color:	#333;

}

/* Instead of bullets we use inline images - its easier to
	provide different 'bullets' for each li in this case.  Hence
	to make alignment of the image and text we tune the image
	position and size as well
*/
._sidebarContent ul li {
	padding-left: 	2px;
	font-size:		12px;
	vertical-align:	baseline;
	margin-bottom:	0.2em;

}

._sidebarContent ul li img{
	position:		relative;
	top:			3px;
	height: 		14px;
	width: 			14px;
}

/* Sidebar headings */
._sidebarContent h2 {
	color:			#999;
	font-size: 		0.75em;
	margin-top:		2px;
	padding-left: 	2px;
	padding-right: 	2px;
}

._sidebar p, ._sidebarError p {
	margin-left: 	0.5em;
}

/* for random image */
#_random_image {
	padding-top: 	2px;
}

#_random_image > a > img {
  width: 			290px;   /* sidebar div width - (2* border size) - (2 * padding) */
  text-align:		center;
  }

#_random_image p {  /* used for sidebar image caption */
  font-size: 		70%;
  text-align:		center;
  text-transform:	uppercase;
  padding-top:		2px;
  padding-bottom:	2px;
  color:			#777;
  }

._sidebarError {
  border: 			2px solid red;
  color: 			#999;
  padding-bottom: 	0.5em;
  margin-bottom: 	0.5em
  }

._sidebarError h4 {
  font-size: 		80%;
  background-color: red;
  text-align: 		center;
  padding-bottom: 	0.2em;
  color: 			white;
}

/* Tag Cloud formatting */
#_tag_cloud {
	margin-top:		0.5em;
	margin-bottom:	0.3em;
}
.cloud1 {
	font-size: 		90%;
}
.cloud2 {
	font-size: 		110%;
	}
.cloud3 {
	font-size: 		120%;
	}
.cloud4 {
	font-size: 		150%;
	}
.cloud5 {
	font-size: 		180%;
	}
.cloud6 {
	font-size: 		200%;
	}



.red {
	color: red;
}

/* For example search 
--------------------------------*/
div._sidebarForm {
	margin: 0;
	padding: 0;
	}

div._sidebarForm p {
	font-size: 0.75em;
	margin: 0;
	padding: 2px;
}

div._sidebarForm form {
	margin: 0;
	padding: 0;
}

div._sidebarForm form label {
	width:70px; 
	float:left;
	}

div._sidebarForm input {
	border: solid 1px #CDBE70;
	background-color: #000;
	color: #ddd;
	padding-left: 2px;
	}

div._sidebarForm input[type="submit"] {
	display:inline; 
	margin-right: 2px;
	padding-left: 3px;
	padding-right: 3px;
  	color:#ccc;
	background: #333;
	border: 1px solid #555;
	}

div._sidebarForm input[type="submit"]:hover {
	background: #ad9;
	color: #333;
	}

div._login {
	line-height: 2em;
	}

/* The div which we fill in from dynamic search */
div#_searchImageResults > h4 {
	margin-top: 8px;
	}
