/*
	Style base elements for a theme.  In this file, define primarily the typography
	Document layout related css should go in the <theme>.css file.  Although this is
	only convention, it helps separate the structural formatting from the presentation
	formatting.
*/


body, input, textarea, select {
  color:			#000;
  background:		#fff;
  font-family: 		Verdana, sans-serif;
  }

p, ._article li {
  line-height:		120%;
  letter-spacing:	115%;
}


/*---------------------------------------
	Element styling. In general, define
	how elements are styled here. This will
	make it much easier to change the 
	styling later
---------------------------------------*/
._articleImage, ._thumbnail, ._thumbsmall,
input, textarea, select {
  background: 		#ccc;
}

h3, h4, label, p.caption, 
#_footer, 
._articleFooter,
._sidebarContent ul, ._sidebarContent ul a,
._sidebarContent ul a:visited, 
._columnFirst {
	color: 			#000;
}

._sidebarError, ._sidebarContent, ._sidebarContent h2,
._infoWindow > ._thumbsmall, ._sidebarForm p + p {
  color: 			#999;
}

form h3, ._article h5, ._comment_author {
  color:			#ad9;
}

h2 {
  color:			#000;
} 

a:visited, a:hover, a:link,
#_navigation {
  color:			#333;
}

#header, #_navigation, 
h1, input, textarea, select, code 
._articleImage, ._thumbnail, ._thumbsmall {
  border:			1px solid #555;
}

/*
	Used for image captions
*/	
p.caption {
  text-align:		center;
  text-transform:	uppercase;
  white-space: 		nowrap;
  overflow: 		hidden;
  text-overflow: 	ellipsis;
  margin:			3px;
  font-size: 		78%;
}

/*
 	Basic image decoration
*/
._articleImage, ._thumbnail, ._thumbsmall {
  text-align: 		center;
  }

._thumbnail, ._thumbsmall {
  float:			left;	
}

._thumbnail img, ._thumbsmall img {
  vertical-align:	middle;
}

/* 
	Used for spinners when ajax request in progress
*/
img._spinner {
	display: 		inline;
	position: 		relative;
	top: 			2px;
	width: 			13px;
	height: 		13px;
}

/* Basic anchor styling */
a:link {
  text-decoration:	none;
  }

a:visited, a:hover  {
  text-decoration:	none;
  }

a:hover {
  text-decoration:	underline;
  }

/* 
	h1 is used only for the page heading
 */
h1 {
  color:			#000;
  margin:			5px 5px 0;
  padding:			20px 20px .25em;
  border-width:		1px 1px 0;
  font-size:		150%;
  line-height:		1.2em;
  letter-spacing:	.3em;
  text-align: 		center;
  }

/* 
	h2 is most commonly the heading of an article, sidebar or other section
 	h3 is most commonly used as the form section header, also as article byline
*/
h2, h3 {
  font-weight: 		normal;
  }

h2 {	
  font-size: 		120%;
  letter-spacing:	125%;
  }

h3 {
  font-size: 		70%;
  }


h2 a:hover, h3 a:hover {
  text-decoration: 	underline;
  }


/* Elements usually embedded in an article */
code {
  margin:			10px 20px;
  }

blockquote {
  float: 			left;
  border-top:		1px solid #ad9;
  border-bottom: 	1px solid #ad9;
  padding: 			8px 8px 10px 8px;
  margin-right: 	0.6em, 0.7em, 0.2em, 0.6em;
  width: 			200px;
  font-style: 		italic;
  }

/*---------------------------------------
	Forms elements (they don't inherit
	so have to be styled separately
---------------------------------------*/
label {
  width:			175px;
  margin-right:		8px;
  float:			left;
  text-align: 		right;
}
	
input, textarea, select {
  font-size:		80%;
  margin:			0 0 0.5em 0;
  padding-left: 	3px;
  padding-right: 	3px;
  text-align:		left;
  }

textarea {
	overflow:		auto;
}

input[type="submit"], 
input[type="button"] {
  display:			block;
  text-align:		center;
  margin-left:		auto;
  margin-top: 		10px;
  margin-bottom: 	2px;
  margin-right: 	2px;
  padding:			2px 8px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background: 		#ad9;
  color: 			#333;
}

form h3 {
  font-size:		100%;
  border: 			2px solid #222;
  padding:			5px;
  margin-bottom: 	1em;
  margin-top: 		1em;
}

:focus {
  outline: 			5px auto -webkit-focus-ring-color;
  outline:			5px auto rgb(212,98,24);
}
/* 
	Helper classes, designed to be added
	to any element as an additional class
*/

/*---------- For Pagination ------------*/
._rightAlign {
	text-align: right;
}

._centerAlign {
	text-align: center;
}

/* VML style declaration - required for IE (used by mapping) */
v:* { 
	behavior:url(#default#VML);
}

.red {
  color: 			red;
}

.dimmed {
  color:			#555;
}