<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title><%= page_title %></title>	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/png" href="/hermes.png" />
	<style type="text/css">
  	body {
      font-family: Verdana, sans-serif;
    }

    h1 {
      border:			 1px solid #555;
      font-weight: normal;
      font-size:   large;
      padding:     10px;
      text-align:  center; 
      letter-spacing: 120%;
    }
    
    h2 {
      font-size: medium;
      color:     #9ad;
    }
  </style>
	
</head>

<body>
  <h1><%= page_title %></h1> 
  <h2>Sorry, your browser isn't supported on this site.</h2>
  <p>Unfortunately your browser isn't supported on this site.  Internet Explorer
  versions below Version 7 (that is, Versions 4, 5 and 6) aren't very standards
  compliant and are difficult to make compatible.  They're also really, really old.</p>
  <p>All is not lost however.  If you install a newer browser you'll be able to visit
  - and we'd sure like to see you back.  To help out a little here are some links to download
  a more recent browser that will work on this site.<p>
  <ul>
  <li><a href="http://www.microsoft.com/windows/products/winfamily/ie/worldwide.mspx">Internet Explorer 7 for Windows</a></li>
  <li><a href="http://www.mozilla.com/en-US/firefox/">Firefox</a></li>
  <li><a href="http://www.apple.com/safari/download/">Safari</a></li>
  <li><a href="http://www.opera.com/download/">Opera</a></li>
  </ul>
</body>
</html>  
  	


  
