<% galleries = assets unless local_assigns[:assets].nil? %>
<h4>Galleries</h4>
<div class="clearfix">
	<% galleries.each_with_index do |gallery, index|  %>
		<div class="_thumbsmall"> 
			<%= render :partial => "images/thumbnail", :locals => {:image => gallery.popular_image(current_user), 
				:caption => gallery.title, :gallery => gallery} %>
		</div>
		<% if index == 20 %>
			<% break %>
		<% end %>
	<% end %>
</div>