<% galleries = assets unless local_assigns[:assets].nil? %>
<h2>Galleries</h2>
<div class="_thumbsmallList clearfix">
	<% galleries.each_with_index do |gallery, index|  %>
		<%= render :partial => "images/thumbnail", :locals => {:image => gallery.popular_image(current_user), 
				:caption => gallery.title, :gallery => gallery} %>
		<% if index == 20 %>
			<% break %>
		<% end %>
	<% end %>
</div>