<% images = assets unless local_assigns[:assets].nil? %>
<h2>Images</h2>
<div class="_thumbsmallList clearfix">
	<% images.each_with_index do |image, index|  %>
		<%= render :partial => "images/thumbnail", :locals => {:image => image}  %>
		<% if index == 20 %>
			<% break %>
		<% end %>
	<% end %>
</div>